{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="icon" type="image/x-icon" href="{% static  'assets/img/logo.jfif' %}"/>
        <link href="{% static  'assets/css/loader.css' %}" rel="stylesheet" type="text/css"/>
        <script src="{% static  'assets/js/loader.js' %}"></script>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
        <link href="{% static  'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <link href="{% static  'assets/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
        <link href="{% static  'assets/css/authentication/form-2.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'plugins/apex/apexcharts.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static  'assets/css/dashboard/dash_1.css' %}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
        <script src="{% static 'assets/js/bootstrap-select.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static  'assets/css/forms/theme-checkbox-radio.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static  'assets/css/forms/switches.css' %}">
        <!-- DATATABLES & RESPONSIVE-->
        <link rel="stylesheet" type="text/css" href="{% static  'plugins/table/datatable/datatables.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static  'plugins/table/datatable/dt-global_style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static  'assets/css/responsive_dataTable.css' %}">
        <!-- END DATATABLES & RESPONSIVE -->
        <!--  SELECT2  -->
        <link href="{% static  'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="{% static  'plugins/select2/select2.min.css' %}">
        <!--  END SELECT2  -->
        <!--  DATE & RANGE-PICKER  -->
        <link href="{% static  'plugins/flatpickr/flatpickr.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static  'plugins/noUiSlider/nouislider.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static  'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'plugins/flatpickr/custom-flatpickr.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static  'plugins/noUiSlider/custom-nouiSlider.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static  'plugins/bootstrap-range-Slider/bootstrap-slider.css' %}" rel="stylesheet" type="text/css">
        <!--  END DATE & RANGE-PICKER  -->
        <!-- ACCORDION -->
        <link href="{% static  'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'assets/css/components/tabs-accordian/custom-accordions.css' %}" rel="stylesheet" type="text/css" />
        <!-- END ACCORDION -->
        <!-- sweetalert -->
        <link href="{% static  'plugins/animate/animate.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'plugins/sweetalerts/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'plugins/sweetalerts/sweetalert.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static  'assets/css/components/custom-sweetalert.css' %}" rel="stylesheet" type="text/css" />
        <!-- End sweetalert -->
        <!-- Select Multiple -->
        <link rel="stylesheet" type="text/css" href="{% static  'plugins/tomSelect/tom-select.default.min.css' %}">
        <!-- END Select Multiple -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}

        <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
        <script src="{% static  'assets/js/jquery.min.js' %}"></script>
        <script src="{% static  'assets/js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static  'bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static  'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static  'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static  'plugins/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static  'assets/js/app.js' %}"></script>
        <script>
            $(document).ready(function () {
                App.init();
            });
        </script>
        <script src="{% static  'assets/js/custom.js' %}"></script>
        <script src="{% static  'assets/js/Chart.min.js' %}"></script>
        <script src="{% static  'assets/js/Chart.bundle.min.js' %}"></script>
        <script src="{% static  'assets/js/utils.js' %}"></script>
        <script src="{% static  'assets/js/analyser.js' %}"></script>
        <script src="{% static  'assets/js/animate.js' %}"></script>
        <script src="{% static  'assets/js/authentication/form-2.js' %}"></script>
        <!-- END GLOBAL MANDATORY SCRIPTS -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
        <script src="{% static  'assets/js/jquery.fancybox.min.js' %}"></script>
        <script src="{% static  'plugins/apex/apexcharts.min.js' %}"></script>
        <script src="{% static  'assets/js/dashboard/dash_1.js' %}"></script>
        <script src="{% static  'plugins/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
        <script src="{% static  'assets/js/app.js'%}"></script>
        <script src="{% static  'assets/js/jquery.cookie.js' %}"></script>
        <script src="{% static  'assets/js/custom.js' %}"></script>
        <!-- DATATABLES & RESPONSIVE-->
        <script src="{% static  'plugins/table/datatable/datatables.js' %}"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.js"></script>
        <script type="text/javascript" charset="utf8" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <!-- END DATATABLES & RESPONSIVE -->
        <!--  SELECT2  -->
        <script src="{% static  'assets/js/scrollspyNav.js' %}"></script>
        <script src="{% static  'plugins/select2/select2.min.js' %}"></script>
        <script src="{% static  'plugins/select2/custom-select2.js' %}"></script>
        <!--  END SELECT2  -->
        <!--  DATE & RANGE-PICKER  -->
        <script src="{% static  'assets/js/scrollspyNav.js' %}"></script>
        <script src="{% static  'plugins/flatpickr/flatpickr.js' %}"></script>
        <script src="{% static  'plugins/noUiSlider/nouislider.min.js' %}"></script>
        <script src="{% static  'plugins/flatpickr/custom-flatpickr.js' %}"></script>
        <script src="{% static  'plugins/noUiSlider/custom-nouiSlider.js' %}"></script>
        <script src="{% static  'plugins/bootstrap-range-Slider/bootstrap-rangeSlider.js' %}"></script>
        <!--  END DATE & RANGE-PICKER  -->
        <!-- ACCORDION -->
        <script src="{% static  'assets/js/scrollspyNav.js' %}"></script>
        <script src="{% static  'assets/js/components/ui-accordions.js' %}"></script>
        <!-- END ACCORDION -->
        <!-- sweetalert -->
        <script src="{% static  'plugins/sweetalerts/sweetalert2.min.js' %}"></script>
        <script src="{% static  'plugins/sweetalerts/custom-sweetalert.js' %}"></script>
        <script src="{% static  'plugins/sweetalerts/promise-polyfill.js' %}"></script>
        <!-- End sweetalert -->
        <!-- Currency -->
        <script src="{% static  'plugins/input-mask/jquery.inputmask.bundle.min.js' %}"></script>
        <script src="{% static  'plugins/input-mask/input-mask.js' %}"></script>
        <!-- End Currency -->
        <!-- Select Multiple -->
        <script src="{% static  'plugins/tomSelect/tom-select.base.js' %}"></script>
        <script src="{% static  'plugins/tomSelect/custom-tom-select.js' %}"></script>
        <!-- END Select Multiple -->
        <script src="{% static  'js/funciones-generales.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>