{% extends 'administracion/panel_inicio.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/apps/contacts.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block titulo %}Usuarios{% endblock %}

{% block window %}
    <input id="estadoMensajeEditUsuario" value="{{ estado_mensaje }}" hidden>
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            <div class="col-md-12 pb-2">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Usuarios</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="widget-content searchable-container list">
                    <div class="row">
                        <div class="col-xl-4 col-lg-5 col-md-5 col-sm-7 filtered-list-search layout-spacing align-self-center">
                            <form class="form-inline my-2 my-lg-0 pr-0">
                                <div class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-search">
                                        <circle cx="11" cy="11" r="8"></circle>
                                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                    </svg>
                                    <input type="text" class="form-control product-search" id="input-search"
                                           placeholder="Buscar Usuario">
                                </div>
                            </form>
                        </div>
                        <div class="col-xl-8 col-lg-7 col-md-7 col-sm-5 text-sm-right text-right layout-spacing align-self-right pr-4">
                            <div class="justify-content-sm-end justify-content-center">
                                <div class="switch mr-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-list view-list active-view">
                                        <line x1="8" y1="6" x2="21" y2="6"></line>
                                        <line x1="8" y1="12" x2="21" y2="12"></line>
                                        <line x1="8" y1="18" x2="21" y2="18"></line>
                                        <line x1="3" y1="6" x2="3" y2="6"></line>
                                        <line x1="3" y1="12" x2="3" y2="12"></line>
                                        <line x1="3" y1="18" x2="3" y2="18"></line>
                                    </svg>
                                </div>
                                <div class="switch">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                         stroke-linejoin="round" class="feather feather-grid view-grid">
                                        <rect x="3" y="3" width="7" height="7"></rect>
                                        <rect x="14" y="3" width="7" height="7"></rect>
                                        <rect x="14" y="14" width="7" height="7"></rect>
                                        <rect x="3" y="14" width="7" height="7"></rect>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="searchable-items list">
                        <div class="items items-header-section">
                            <div class="item-content">
                                <div class="text-center">
                                    <h4>Usuario</h4>
                                </div>
                                <div class="text-center">
                                    <h4>Nombre</h4>
                                </div>
                                <div class="user-email text-center pl-3 ml-3">
                                    <h4>Correo</h4>
                                </div>
                                <div class="text-center pl-2">
                                    <h4>Registro</h4>
                                </div>
                                <div class="text-center">
                                    <h4 style="margin-left: 3px;">Acción</h4>
                                </div>
                            </div>
                        </div>
                        {% for usuario in usuarios %}
                            <div class="items">
                                <div class="item-content">
                                    <div class="user-profile pl-0 ml-0 pr-0">
                                        {% if usuario.username == 'victor.moreno' %}
                                            <img src="{% static 'assets/img/user-profile.jpeg' %}" alt="avatar">
                                        {% else %}
                                            <img src="{% static 'assets/img/user-profile-woman.jpeg' %}" alt="avatar">
                                        {% endif %}
                                        <div class="user-meta-info">
                                            <p class="user-name"
                                               data-name="usuario_{{ usuario.id }}">{{ usuario.username }}</p>
                                        </div>
                                    </div>
                                    <div class="pl-0 ml-0 pr-0">
                                        <p class="usr-email-addr"
                                           data-nombre="nombre_{{ usuario.id }}">{{ usuario.first_name }} {{ usuario.last_name }}</p>
                                    </div>
                                    <div class="user-email pl-0 ml-0 pr-0">
                                        <p class="usr-email-addr"
                                           data-email="email_{{ usuario.id }}">{{ usuario.email }}</p>
                                    </div>
                                    <div class="user-registro pt-2 pl-1 ml-0 pr-0">
                                        <p class="usr-location"
                                           data-registro="registro_{{ usuario.id }}">{{ usuario.date_joined | date:"Y-m-d" }}</p>
                                    </div>
                                    <div class="action-btn">
                                        <a href="Javascript:abrirModal('{% url 'administracion:ver-usuario' usuario.id %}', 'editar-usuario', 'form-editar-usuario')"
                                           id="editar_{{ usuario.id }}" data-toggle="tooltip"
                                           data-placement="top" title="Editar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-edit-2 edit">
                                                <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
                                            </svg>
                                        </a>
                                        <a href="Javascript:eliminarUsuario('/administracion/usuarios/','usuario','nombre', '{{ usuario.username }}', '{{ usuario.id }}')"
                                           id="eliminar_{{ usuario.id }}" data-toggle="tooltip"
                                           data-placement="top" title="Eliminar">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none" stroke="currentColor" stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" class="feather feather-trash-2 text-danger">
                                                <polyline points="3 6 5 6 21 6"></polyline>
                                                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                </path>
                                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                                <line x1="14" y1="11" x2="14" y2="17"></line>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editar-usuario" role="dialog"></div>
{% endblock %}

{% block scripts %}
    <script src="../../static/js/usuarios/usuarios.js"></script>
    <script src="{% static  'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static  'assets/js/apps/contact.js' %}"></script>
{% endblock %}