{% extends 'administracion/panel_inicio.html' %}
{% load static %}

{% block titulo %}Mis Ordenes{% endblock %}

{% block styles %}

{% endblock %}

{% block window %}
    <div class="layout-px-spacing">
        <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head mb-2">
                        <div class="heading1 margin_0">
                            <div class="row ml-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" viewBox="0 0 24 24"
                                     fill="none" stroke="#4361ee" stroke-width="1" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-shopping-cart">
                                    <circle cx="9" cy="21" r="1"></circle>
                                    <circle cx="20" cy="21" r="1"></circle>
                                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                                </svg>
                                <div class="form-group ml-2">
                                    <h5><strong>Mis Ordenes de Compra</strong></h5>
                                    <small><strong>Se visualizan las ordenes de compra realizadas en la plataforma.</strong></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <a href="Javascript:abrirModal('{% url 'ordenes-compra:registro-orden-compra' %}',
                                                        'registrar-editar-orden-compra', 'form-registrar-editar-orden-compra')"
                       id="registro_orden" data-toggle="tooltip"
                       data-placement="top" title="">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25"
                             height="25" viewBox="0 0 24 24" fill="none"
                             stroke="#4361ee" stroke-width="2"
                             stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus-circle">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="12" y1="8" x2="12" y2="16"></line>
                            <line x1="8" y1="12" x2="16" y2="12"></line>
                        </svg>
                        Registrar
                    </a>
                    <br><br>
                    <div id="contenedor-tabla-ordenes" class="panel-container mb-4">
                        <div class="panel-content">
                            <div class="panel-group">
                                <div class="panel-body">
                                    <div id="panel-tabla">
                                        <div class="card">
                                            <div class="card-header" id="cabecera-panel-resultados">
                                                <section class="mb-0 mt-0">
                                                    <div id="cabecera-resultado-busqueda" role="menu" class=""
                                                         data-toggle="collapse"
                                                         data-target="#panel-resultados" aria-expanded="true"
                                                         aria-controls="panel-resultados">
                                                        Resultados para Ordenes de Compra
                                                        <div class="icons">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none"
                                                                 stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 id="iconoAcordionAbajoPanelResultados"
                                                                 class="feather feather-chevron-down" hidden>
                                                                <polyline points="6 9 12 15 18 9"></polyline>
                                                            </svg>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                 height="24" viewBox="0 0 24 24" fill="none"
                                                                 stroke="currentColor" stroke-width="2"
                                                                 stroke-linecap="round" stroke-linejoin="round"
                                                                 id="iconoAcordionArribaPanelResultados"
                                                                 class="feather feather-chevron-up">
                                                                <polyline points="18 15 12 9 6 15"></polyline>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                            <div id="panel-resultados" class="collapse show"
                                                 aria-labelledby="cabecera-panel-resultados"
                                                 data-parent="#panel-tabla">
                                                <div class="card-body">
                                                    <div class="padding_infor_info">
                                                        <div class="table-responsive">
                                                            <table class="table table-hover table-bordered w-100 table-striped table-sm"
                                                                   id="tablaOrdenes" style="width: 100% !important;">

                                                                <thead>
                                                                <tr>
                                                                    <th data-priority="1" class="text-center all"></th>
                                                                    <th class="text-center">Código</th>
                                                                    <th class="text-center">Fecha de Entrega</th>
                                                                    <th class="text-center">Observación</th>
                                                                    <th class="text-center">Dirección</th>
                                                                    <th data-priority="3" class="text-center all">Acción</th>
                                                                    <th id="nombres" class="text-left none">Celular</th>
                                                                    <th class="text-left none">Creación</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="registrar-editar-orden-compra" role="dialog"></div>
{% endblock %}

{% block scripts %}
        <script src="{% static  'js/ordenes/ordenes.js' %}"></script>
{% endblock %}